/*
CSS for comparator pages
*/

/* basic component
----------------------------------*/
.comparator-multi-select-panel {  
	position: absolute;
	top: 170px;
	left: 40px;
	width: 1030px;
	height: 152px;
	border: 1px solid #aaaaaa;
}

.comparator-query-panel {  
	position: absolute;
	top: 336px;
	left:40px;
	width: 500px;
	height: 100px;
	
}

/* TODO stable tbale header
tbody {max-height:180px;width: 800px;overflow:auto;}
*/

.comparator-main-panel { 	
	position: absolute;
	top: 455px;
	left:40px;
	width: 1030px;
	height: 540px;
	border: 1px solid #aaaaaa;
	overflow:scroll;
}

.comparator-option-panel {  
	position: absolute;
	top: 336px;
	left:560px;
	width: 510px;
	height: 100px;
}

.comparator-pathway-map-panel {  
	width: 100%;
	height: 400px;
	overflow: auto;
	text-align: center;
}

.align-right td {  
	text-align:right;
}

.align-left td {  
	text-align:left;
}

.comparator-error-message {
	position: absolute;
	left:40px;
	text-align:center;
	font-size:0.9em;
}

/* defines the height of the multi select box */
.multiselect {	
	height: 130px ;
}
form {	
	clear: none;
	margin-right: 0px;
	padding: 0px;
	width: 390px;
}


#dialog_link {
	position: absolute;
	left:5px;
	height: 15px;
}

input[type="submit"] {
	position: absolute;
	left:440px;
	width: 70px;
	height: 25px;
}

.compare-radio-box label {
    display:inline !important;
    padding-left: 25px;
    text-indent: -35px;
    padding-right:0px;
}

.compare-radio-box {
	display: inline !important;
	position:absolute;
	top:208px;
	left:750px;
	font-size: 0.9em;
	width:250px;
	line-height:11px;
	vertical-align: middle;
}

.comparator-query-panel textarea {
	position: absolute;
	width: 490px;
	font-size: 0.8em; !important;
	height:70px !important;
	left: 0px;
	float:left; 
	white-space:normal;
	vertical-align:text-top;
	padding:0px !important;
}
	
.filter-input-form {
	position: relative;
	top:45px !important;
	width:500px;
}	
	
input[type="radio"] {
	float: none !important;
	width:20px;
	hight:10px;
	padding:10em;
}	

form div {
	clear:none;
	margin-bottom:0em;
	padding:0em;
	vertical-align:text-top;
}

select {	
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
}

.comparator-drop-down-one {	
	position:absolute;
	left: 9px;
	top: 45px !important; 
	font-size:0.9em;
	float:top;
}

.comparator-drop-down-two {	
	position:absolute;
	left: 200px;
	top: 45px;
	font-size:0.9em;
	float:top;
}

.comparator-drop-down-three {	
	position:absolute;
	left: 370px;
	top: 45px;
	font-size:0.9em;
	float:top;
}

.comparator-drop-down-four {	
	position:absolute;
	left: 550px;
	top: 45px;
	font-size:0.9em;	
}

.comparator-drop-down-five {	
	position:absolute;
	left: 740px;
	top: 45px;
	font-size:0.9em;	
}

.comparator-pathway-drop-down {	
	position:relative;
	left: 20px;
	top: 0px;
	font-size:0.9em;
	float:left;
}

label {
    float: top !important;
    font-size:0.9em !important;
}

#comparison-results {
	margin-top:2px;
	width: 1010px;
	height: 400px;
	padding-left:5px;
	font-size: 0.9em;	
	overflow:auto;
}

.comparison-results-table {
	font-size:1em;
}

.comparator-heatmap-legend {  
	font-weight: bold;
	font-size: 0.7em;	
}


.comparator-min-count-option {
	position: absolute !important;
	left:70px !important;
	width:145px!important;
	height: 23px!important;
}

fieldset {
	padding:6px;
}	

.comparator-min-count-option label {
	position: absolute;
	left:0px;
	width:70px;
	height:35px;
	padding:0px !important;
	text-align: right !important;	
	vertical-align:middle !important;
	
}

.comparator-min-count-option input[type="text"] {
	position: absolute;
	width:55px;
	left:75px;
	top:2px;
	padding:0px !important;
	font-size:120% !important;
	height:15px;
	float: none;
	padding: 0px;
}
.comparator-test-select input[type="text"]  {
	with:260px;
}
.comparator-select-option select {
	position: absolute;
	font-size: 0.9em;
	left: 215px;
	width:210px;
	float: none;
	padding: 0px;
	height: 23px;
}

.comparator-plot-select-option select {
	position: absolute;
	font-size: 0.9em;
	top: 30px;
	left: 220px;
	width:160px;
	float: none;
	padding: 0px;
}

.comparator-download {  	
	position: absolute;
	top: 68px;
	left:975px;
}

.comparator-pathway-map-download {  	
	position: relative;
	top: 0px;
	padding: 0px;
	float:right;
}

.tab{
	padding-bottom:50px;
}


table.tablesorter thead tr .header {
        background-image: url(../img/sort-bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
        padding-left:5px;
       
}
table.tablesorter thead tr .headerSortUp {
        background-image: url(../img/sort-asc.gif);  
        padding-left:5px;
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(../img/sort-desc.gif);
        padding-left:5px;
}
table.tablesorter tbody tr.odd td {
        background-color:#f4f4f4;
        height: 10px !important;
}
table.tablesorter tbody tr.even td {
        height: 10px !important;
}

#resize-box{
	background-color:#f0f0f0;
	border:1px dashed #a0a0a0;
	position:absolute;
	top:75px;
	right:72px;
}

#resize-box:hover{
	background-color:#e0e0e0;
}		

#resize-box a{
	font-size:10px;
	font-family:Arial,sans-serif;
	text-decoration:none;
	color:#909090;
	display:block;
	float:left;
	padding:5px 10px;
}

#resize-box a:hover{
	color: #fff; background: #e32;
}