/*
CSS Browse Page
*/

/* basic component
----------------------------------*/

.browse-download-facets {  	
	position: relative;
	margin-left: 95%;
	top: 22px;
}

.browse-download-classification {  	
	position: relative;
	margin-left: 95%;
	top: -30px;
}
#browse-left-panel{
	postion:absolute;float: left; width: 29%; padding-right: 10px;
}

#browse-main-panel{
	position: relative;	width: 100%;
}

.comparator-heatmap-legend {  
	font-weight: bold;
	font-size: 0.7em;	
}

form {
	position:relative !important;
	float:none !important;
	margin-right:0 !important;
	padding:0 !important;
	
	width:100% !important;
	height:30px !important;
}

#browse-search-panel{
	position: relative;	
	margin-top:0px;
	padding-top:0px;
	height: 85px;
	width: 100%;
	font-size: 0.9em;
	vertical-align:center;
}

input[type="text"] {
	position: absolute;
	top: 0px;
	left:55px;
	float:left;
	margin:0px;
	width: 67%;
}
input[type="submit"] {
	position: absolute;
	width: 70px;
	height: 28px;
	right:1%;
	top:0px;
}

submit{
	float:right;
	right:0px;
	height:0px;
}

#dialog_link {  	
	position: relative;
	float:left;
	margin-bottom: 20px;
	top: 0px;
	left:0px;
}

#browse-tree-panel {
	position: relative;
	float:left;
	margin-top:0px;
	padding-top:0px;
	height: 90%;
	width: 100%;
	font-size: 0.9em;	
	vertical-align:center;
	overflow:auto;
	
}

fieldset {
	margin-top: 0px;
}

#browse-right-panel {
	position: relative;
	margin-left: 30%;
	float:none;
	width: 70%;
	height: 100%;
	overflow:none;
	text-align: center
}

#browse-classification-panel {
	position: relative;
	float:none;
	height: 100%;
	width: 100%;
	font-size: 0.9em;
	overflow:auto;

}

#browse-facet-list-panel {
	position: relative;
	float:none;
	height: 100%;
	width: 100%;
	font-size: 0.9em;


}

ul.tree li {
	line-height:20px!important;	
	padding-top:0px!important;	
	margin:0px!important;	
}
#browse-facet-pie-panel {
	position: relative;
	float:none;
	height: 100%;
	width: 100%;
	font-size: 0.9em;
	overflow:auto;
}