/*
CSS for comparator pages
*/

/* basic component
----------------------------------*/

.population-input-panel { 
	float: left;
	position: relative; 
	width: 623px;
}

.population-multi-select-panel {  
	width: 605px !important;
	height: 230px !important;
	
}

/* multi-comparator box width configuration
----------------------------------*/
.ui-multiselect { width: 600px !important;}
.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; width: 290px !important;}
.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; width: 308px !important;}

.multiselect {	
	height: 175px !important;
	width:50%;
}

.comparator-main-panel { 	
	position: absolute;
	top: 390px;
	left:40px;
	width: 1030px;
	height: 540px;
	border: 1px solid #aaaaaa;
	overflow:scroll;
}

.comparator-option-panel {  
	position: absolute;
	top: 280px;
	left:670px;
	width: 400px;
	height: 90px;

}

.comparator-radio-panel { 
	float: left; 
	width: 160px;
	height: 90px;
}

.align-right td {  
	text-align:right;
}

.align-left td {  
	text-align:left;
}

/* defines the height of the multi select box */

form {	
	clear: none;
	margin-right: 0px;
	padding: 0px;
	width: 340px;

}

label {
	float: left;
}

#dialog_link {
	position: absolute;
	top: 35px;
	left:240px;
}


input[type="submit"] {

}

input[type="text"] {
	width: 590px;
}
	
textarea {
	width: 590px;
}	
	
input[type="radio"] {
	float: right;
	width:20px;
	hight:10px;
	padding:10em;
}	

form div {
	clear:none;
	margin-bottom:0em;
	padding:0em;
	vertical-align:text-top;
}

.tab{
	padding-bottom:50px;
}



