/*
CSS for search page
*/

/* css for dashboard user component
----------------------------------*/
.user-dash-board h2 {
	position: absolute;
	top: 140px;
	margin: 0px !important;
	padding-top: 0px !important;
}

.user-dash-board-manage-panel {
	position: absolute;
	top: 175px;
	width:600px;	
	height:330px;
	font-size: 1.0em;	
}

.user-dash-board-project-panel {
	position: absolute;
	top: 290px;
	width:600px;
	height:700px;
}

.user-dash-board-feedback-panel {
	position: absolute;
	top: 175px;
	left:650px;
	width:300px;
	height:300px;
	font-size: 1em;	
	scroll: auto;	
}

.user-dash-board-feedback-panel fieldset{
	height:335px;
}

.user-dash-board-news-panel {
	position: absolute;
	top: 530px;
	left:650px;
	width:300px;
	height:600px;
	font-size: 1em;	
	scroll: auto;
}

.input {
	margin:0px;
	padding:0px;
}

form {
	margin:0px;
	padding:0px;
}

textarea {
	width: 270px;
	height: 225px;
}	

input[type="submit"] {	
	position: absolute;
	left:225px;
}

select {
	width: 270px;
}	