/*
CSS for search page
*/

/* css for view component
----------------------------------*/

#view-facet-panel {
	margin-top:10px;
	padding-left:5px;
	height: 530px;
	font-size: 0.9em;	
}

#view-facet-result-panel {
	height: 520px;
	font-size: 1em;	
	overflow:auto;
}

.download {  	
	position: absolute;
	width: 106px;
	left: 92%;
	top: 57px;
}

.input {
	margin:0px;
	padding:0px;
}

form {
	margin:0px;
	padding:0px;
}

.view-panel{
	position: absolute;
	height: 550px;
	width: 90%;
}

#view-tabs {
	height: 600px;
}

#view-data-tab {
	margin-top:15px;
	padding-left:5px;
	height: 500px;
	font-size: 0.9em;	
	overflow:auto;
}
.view-level-select {
	position: absolute;
	
	width:160px;
	float: none;
	padding: 0px;
}


.view-filter-select {
	position: absolute;
	left: 150px;
	width:160px;
	float: none;
	padding: 0px;
}

#view-drop-down-panel {
	font-size: 1.0em;
	height:20px;
	padding-bottom:10px;
}



.ui-tabs-panel {
	padding:0em 0.2em !important;	
}

#view-facet-panel form {
	float: left;
	margin: 0px;
	padding: 0px;
}

#view-facet-panel a {		
	font-weight:normal !important; 
	background: none  !important; ; 
}

